---
export const prerender = false;

import { getData } from "@lib/database";

const data = await getData();

let devices = [];

for (const oem in data) {
  for (const device in data[oem]) {
    devices.push([oem, device, data[oem][device]]);
  }
}
---

<div class="flex flex-col gap-4">
  <div class="form-control">
    <input
      id="searchbar"
      type="text"
      placeholder="Search"
      class="input input-bordered w-24 md:w-auto"
    />
    <div
      id="search-results"
      class="hidden flex-col gap-2 absolute bg-base-300 top-20 w-[14.5rem]"
    >
    </div>
  </div>
</div>
<script>
  import { getData } from "@lib/database";

  const searchResults = document.querySelector(
    "#search-results"
  ) as HTMLElement;
  const searchBar = document.querySelector("#searchbar") as HTMLElement;
  searchBar.addEventListener("focus", (e) => {
    searchResults.style.display = "flex";
  });
  searchBar.addEventListener("focusout", (e) => {
    setTimeout(() => {
      searchResults.style.display = "none";
    }, 100);
  });

  const data = await getData();

  searchBar.addEventListener("keyup", (e) => {
    if (e.target == null) return;

    const target = e.target as HTMLTextAreaElement;

    const query = target.value.toLowerCase();

    console.log(`Searching for ${query}`);

    searchResults.replaceChildren();

    if (!query) return;

    for (const oem in data) {
      for (const device in data[oem]) {
        let model = data[oem][device];
        let searchPatterns = [oem.toLowerCase()]
          .concat(model.toLowerCase().split(" "))
          .concat(`${oem.toLowerCase()} ${device.toLowerCase()}`);

        const searchPattern = searchPatterns.join(" ");

        console.log(searchPattern);

        if (searchPattern.includes(query)) {
          const a = document.createElement("a");
          a.href = `/${oem.toLowerCase()}/${device}`;
          a.classList.add(
            "px-4",
            "py-2",
            "hover:bg-base-100",
            "transition-colors",
            "hover:cursor-pointer"
          );

          const span = document.createElement("span");
          span.textContent = `${oem} ${model}`;

          a.appendChild(span);

          searchResults.appendChild(a);
        }
      }
    }
  });
</script>
